<div class="padding">
    <h1>TIENDA</h1>

    <div class="row">
        <div class="column">
            <figure>
                <img src="assets\img\chemas\feminazi.png" alt="chema">
            </figure>
            <h3>Product</h3>
            <p>PRICE</p>
        </div>
        <div class="column">
            <figure>
                <img src="assets\img\chemas\feminazi.png" alt="chema">
            </figure>
            <h3>Product</h3>
            <p>PRICE</p>
        </div>
        <div class="column">
            <figure>
                <img src="assets\img\chemas\feminazi.png" alt="chema">
            </figure>
            <h3>Product</h3>
            <p>PRICE</p>
        </div>
        <div class="column">
            <figure>
                <img src="assets\img\chemas\feminazi.png" alt="chema">
            </figure>
            <h3>Product</h3>
            <p>PRICE</p>
        </div>
        <div class="column">
            <figure>
                <img src="assets\img\chemas\feminazi.png" alt="chema">
            </figure>
            <h3>Product</h3>
            <p>PRICE</p>
        </div>
        <div class="column">
            <figure>
                <img src="assets\img\chemas\feminazi.png" alt="chema">
            </figure>
            <h3>Product</h3>
            <p>PRICE</p>
        </div>
    </div>

</div>