<body>
    <h1>TIENDA</h1>
    <article>
        <figure>
            <img src="assets\img\chemas\feminazi.png" alt="chema">
        </figure>
        <h3>Product</h3>
        <p>PRICE</p>
    </article>

    <article>
        <figure>
            <img src="assets\img\chemas\feminazi.png" alt="chema">
        </figure>
        <h3>Product</h3>
        <p>PRICE</p>
    </article>

    <article>
        <figure>
            <img src="assets\img\chemas\feminazi.png" alt="chema">
        </figure>
        <h3>Product</h3>
        <p>PRICE</p>
    </article>

    <article>
        <figure>
            <img src="assets\img\chemas\feminazi.png" alt="chema">
        </figure>
        <h3>Product</h3>
        <p>PRICE</p>
    </article>

    <article>
        <figure>
            <img src="assets\img\chemas\feminazi.png" alt="chema">
        </figure>
        <h3>Product</h3>
        <p>PRICE</p>
    </article>

</body>