.column:hover {
    filter: contrast(0.9)
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    height: 200;
    padding: 5px;



    background: var(--store-list-background);
    cursor: pointer;

    color: black;
    transition: background-color 0.2s linear;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}



figure {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure img {
    height: 50%;
    width: 50%;
}

h1 {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;


}