article {
    padding: 2rem;
    margin-bottom: 1rem;
    background: var(--store-list-background);
    cursor: pointer;
    height: 30rem;
    width: 30%;
    color: black;
    transition: background-color 0.2s linear;

}

article:hover {
    filter: contrast(0.9)
}

figure {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure img {
    height: 100%;
    width: auto;
}

h1 {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;


}