body {
    padding-left: 15%;
    padding-right: 15%;
}

fa-icon {
    font-size: 6rem;
    color: black;
    background-color: whitesmoke;
    border-radius: 2rem;
}

.amazon {
    margin: 20px;
}

h1 {
    font-size: 3.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

h3 {
    margin-bottom: 10px;
    font-weight: 600;
}

p {
    margin: 10px;
}

.page-header {
    /* text-align: center;
    width: 30%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.albumCover {
    max-height: 626px;
    max-width: 572px;
}

.song {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
}