<div class="padding">
    <app-carousel [images]="images"></app-carousel>
    <div class=gallery>
        <div class="container">
            <img src="/assets/img/row/music.png" alt="DISCOGRAFIA">
            <a routerLink="/discografia" class="btn">DISCOGRAFIA</a>
        </div>
        <div class="container">
            <img src="/assets/img/row/videos.png" alt="VIDEOS">
            <a href="https://www.youtube.com/@Pentahijueputa" class="btn">VIDEOS</a>
        </div>
        <div class="container">
            <img src="/assets/img/row/storee.png" alt="TIENDA">
            <a routerLink="/tienda" class="btn">TIENDA</a>
        </div>
    </div>
</div>