* {
    box-sizing: border-box;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
}

.gallery img {
    width: 100%;
    width: 380px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.5;

}

a img:hover {
    opacity: 1;
}