<header>
    <figure>
        <img src="assets\img\pentahijueputa.png" alt="Pentahijueputa" />
    </figure>
    <ul>
        <li>
            <a routerLink="/">NOTICIAS</a>
        </li>
        <li>
            <a routerLink="/">TIENDA</a>
        </li>
        <li>
            <a routerLink="/">DISCOGRAFIA</a>
        </li>
    </ul>
    <ul class="socials">
        <li>
            <a routerLink="/"><fa-icon [icon]="faTiktok"></fa-icon></a>

        </li>
        <li>
            <a routerLink="/"><fa-icon [icon]="faInstagramSquare"></fa-icon></a>
        </li>
        <li>
            <a routerLink="/"><fa-icon [icon]="faYoutube"></fa-icon></a>
        </li>

    </ul>
</header>
<main>

</main>

<footer class="footer">
    <div>

    </div>
</footer>
<footer>
</footer>