header {
    height: 15rem;
    background: var(--top-bar-background);
    align-items: center;
    justify-content: center;
}

figure {
    height: 80%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

figure img {
    height: 80%;
    width: auto;
    cursor: pointer;
}

ul {
    align-items: center;
    justify-content: center;
    display: flex;
}

a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem;
    transition: background-color 0.2s linear;
    color: #d3cdcd;

}

a:hover,
a:active {
    color: #fcfcfc
}

.socials {
    margin: 10px;
    align-items: right;
    justify-content: right;
}

.footer {
    height: 15rem;
    width: 100%;
    background: var(--top-bar-background);
    bottom: 0;
}

main {
    padding: 2rem;
}