<header>

    <a routerLink="/">
        <figure>
            <img src="assets\img\pentahijueputa.png" alt="Pentahijueputa" />
        </figure>
    </a>

    <ul>
        <li>
            <a routerLink="/">NOTICIAS</a>
        </li>
        <li>
            <a routerLink="/tienda">TIENDA</a>
        </li>
        <li>
            <a routerLink="/">DISCOGRAFIA</a>
        </li>
    </ul>
    <ul class="socials">
        <li>
            <a href="https://www.tiktok.com/@pentahijueputa"><fa-icon [icon]="faTiktok"></fa-icon></a>

        </li>
        <li>
            <a href="https://www.instagram.com/pentahijueputa/"><fa-icon [icon]="faInstagramSquare"></fa-icon></a>
        </li>
        <li>
            <a routerLink="/"><fa-icon [icon]="faYoutube"></fa-icon></a>
        </li>

    </ul>
</header>
<main>
    <router-outlet></router-outlet>
</main>

<footer class="footer">


</footer>